## Movie Data 2022:

### Collecting Data with API Key:

__Frist I retrieve data from TMBD with API key. I did this by dividing data into 4 and then used 'concat' to connect the dataset.__

In [1]:
import pandas as pd
import json
import requests

In [2]:
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

In [3]:
def get_movie_data(base_url, start_page, end_page):
    movie_data = []

    for page in range(start_page, end_page+1):
        url = f"{base_url}&page={page}"
        response = requests.get(url)

        if response.status_code != 200:
            print(f"Error fetching data from {url}")
            continue

        page_data = response.json().get("results", [])
        movie_data.extend(page_data)

    return movie_data

__P.S. In order to find exact page number I send one page http request in another kernel__

*Note that you can't run this part of the code as it requires api_key. The code here is to show how I achived to collect data. But you can get an api_key and try the code on your notebook.

In [ ]:
url = "https://api.themoviedb.org/3/discover/movie?api_key=**&primary_release_date.gte=2022-10-01&primary_release_date.lte=2022-12-31"
movie_data = get_movie_data(url, start_page=1, end_page=463)

In [ ]:
movie_data

In [ ]:
my_movies_4 = pd.DataFrame(movie_data)
my_movies_4

In [ ]:
#the data comes in json format, so I save it accordingly.
my_movies_4.to_json("my_movies_4.json", orient="records")

In [4]:
my_movies_4 = pd.read_json("my_movies_4.json")
my_movies_4

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/ovM06PdF3M8wvKb06i4sjW3xoww.jpg,"[878, 12, 28]",76600,en,Avatar: The Way of Water,Set more than a decade after the events of the...,5062.29,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,2022-12-14,Avatar: The Way of Water,False,7.70,7325
1,False,/ouB7hwclG7QI3INoYJHaZL4vOaa.jpg,"[16, 10751, 14, 12, 35]",315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,1905.90,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg,2022-12-07,Puss in Boots: The Last Wish,False,8.30,5243
2,False,/xDMIl84Qo5Tsu62c9DGWhmPI67A.jpg,"[28, 12, 878]",505642,en,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, Mâ€™Baku, Okoye and the Do...",1035.42,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg,2022-11-09,Black Panther: Wakanda Forever,False,7.30,4589
3,False,/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg,"[28, 12, 878, 14]",436270,en,Black Adam,"Nearly 5,000 years after he was bestowed with ...",985.27,/pFlaoHTZeyNkG83vxsAJiGzfSsa.jpg,2022-10-19,Black Adam,False,7.10,4734
4,False,/70aVSo3fuZ94jyQ3rT64afEf8lV.jpg,"[16, 12, 35, 10751, 14]",676710,en,The Amazing Maurice,Maurice is a streetwise ginger cat who comes u...,871.39,/ydhZeUjbzVEFclUpMhLfDZSavUY.jpg,2022-12-16,The Amazing Maurice,False,6.90,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9244,False,None,[99],1115838,en,The Pursuit of a Cinematic Dream - Tsai Ming-L...,"A leading figure of the ""Second New Wave"" of T...",0.62,None,2022-11-11,The Pursuit of a Cinematic Dream - Tsai Ming-L...,False,0.00,0
9245,False,/6zw4r0WoslDvRtpTCMVzN2J8AtL.jpg,"[35, 27, 28, 18]",1115771,en,Tomb-Stoned,"Two stoner best friends, Owen and Norm, are ab...",1.40,/tyx86rdavOuoVEp6jHos6rR9wUm.jpg,2022-10-05,Tomb-Stoned,False,10.00,1
9246,False,None,"[27, 35]",1115761,en,Trail of Doom,Documented by a young woman hired to take behi...,0.89,/r5pDirTBtFUWO2y8ogHP0225xz9.jpg,2022-12-04,Trail of Doom,False,0.00,0
9247,False,/Gcdd8tyDw0UEGOeTbsuGyUPIGS.jpg,[18],1115705,tr,HayatÄ±mÄ±n Son 5 GÃ¼nÃ¼,The anonymous man wrote down all the events he...,0.60,/bUFhImwCKj6ZduWkoDnYJTS1UuN.jpg,2022-10-19,The Last 5 Days of My Life,False,0.00,0
9248,False,None,"[80, 53, 18]",1115602,en,Dangerous Ones,A New York City couple decide to take a getawa...,0.84,/wgqoh9mShaHi9hsJEntEumN5XSF.jpg,2022-10-01,Dangerous Ones,False,0.00,0

In [5]:
my_movies_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9249 entries, 0 to 9248
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              9249 non-null   bool
 1   backdrop_path      3696 non-null   object
 2   genre_ids          9249 non-null   object
 3   id                 9249 non-null   int64
 4   original_language  9249 non-null   object
 5   original_title     9249 non-null   object
 6   overview           9249 non-null   object
 7   popularity         9249 non-null   float64
 8   poster_path        7725 non-null   object
 9   release_date       9249 non-null   object
 10  title              9249 non-null   object
 11  video              9249 non-null   bool
 12  vote_average       9249 non-null   float64
 13  vote_count         9249 non-null   int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 885.3+ KB

__This data is missing information about credits, so I got this part by using movie ids with a Python function:__

### Getting Credits for Movies:

*Note that you can't run this part of the code as it requires api_key. The code here is to show how I achived to collect data. But you can get an api_key and try the code on your notebook.

In [ ]:
basic_url = 'https://api.themoviedb.org/3/movie/{}/credits?{}'

In [ ]:
api_key = "api_key=*********************"

In [6]:
movie_id = my_movies_4.iloc[:, 3]
movie_id

0         76600
1        315162
2        505642
3        436270
4        676710
         ...
9244    1115838
9245    1115771
9246    1115761
9247    1115705
9248    1115602
Name: id, Length: 9249, dtype: int64

In [7]:
movie_id = list(movie_id)

In [ ]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data)
df = pd.DataFrame(json_list)

In [ ]:
df

In [ ]:
#I also retrieved credits in four pieces and save them in same number with the movies.
df.to_json("my_movies_4_cast.json", orient="records")

__Merging Movies with Credits:__

In [8]:
cast4 = pd.read_json("my_movies_4_cast.json")
cast4

,id,cast,crew
0,76600,"[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 1721, 'kn..."
1,315162,"[{'adult': False, 'gender': 2, 'id': 3131, 'kn...","[{'adult': False, 'gender': 0, 'id': 582, 'kno..."
2,505642,"[{'adult': False, 'gender': 1, 'id': 1083010, ...","[{'adult': False, 'gender': 1, 'id': 7232, 'kn..."
3,436270,"[{'adult': False, 'gender': 2, 'id': 18918, 'k...","[{'adult': False, 'gender': 2, 'id': 3687, 'kn..."
4,676710,"[{'adult': False, 'gender': 2, 'id': 41419, 'k...","[{'adult': False, 'gender': 2, 'id': 1706, 'kn..."
...,...,...,...
9244,1115838,"[{'adult': False, 'gender': 2, 'id': 71174, 'k...","[{'adult': False, 'gender': 0, 'id': 1730020, ..."
9245,1115771,"[{'adult': False, 'gender': 0, 'id': 4020424, ...","[{'adult': False, 'gender': 0, 'id': 4020424, ..."
9246,1115761,"[{'adult': False, 'gender': 1, 'id': 1208594, ...","[{'adult': False, 'gender': 0, 'id': 2235084, ..."
9247,1115705,"[{'adult': False, 'gender': 0, 'id': 3843186, ...","[{'adult': False, 'gender': 0, 'id': 935222, '..."
9248,1115602,"[{'adult': False, 'gender': 0, 'id': 4019662, ...","[{'adult': False, 'gender': 0, 'id': 2767417, ..."

In [9]:
#cehcking for duplicates in both data:
cast4.id.value_counts()

76600      1
1056673    1
1057192    1
1057171    1
1057141    1
          ..
1042820    1
1042816    1
1042767    1
1042728    1
1115602    1
Name: id, Length: 9249, dtype: int64

In [10]:
my_movies_4.id.value_counts()

76600      1
1056673    1
1057192    1
1057171    1
1057141    1
          ..
1042820    1
1042816    1
1042767    1
1042728    1
1115602    1
Name: id, Length: 9249, dtype: int64

In [11]:
#now I can merge two data:
my_movies_merged = my_movies_4.merge(cast4, how="left", left_on="id", right_on="id")

In [12]:
my_movies_merged.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,cast,crew
0,False,/ovM06PdF3M8wvKb06i4sjW3xoww.jpg,"[878, 12, 28]",76600,en,Avatar: The Way of Water,Set more than a decade after the events of the...,5062.29,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,2022-12-14,Avatar: The Way of Water,False,7.70,7325,"[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 1721, 'kn..."
1,False,/ouB7hwclG7QI3INoYJHaZL4vOaa.jpg,"[16, 10751, 14, 12, 35]",315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,1905.90,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg,2022-12-07,Puss in Boots: The Last Wish,False,8.30,5243,"[{'adult': False, 'gender': 2, 'id': 3131, 'kn...","[{'adult': False, 'gender': 0, 'id': 582, 'kno..."
2,False,/xDMIl84Qo5Tsu62c9DGWhmPI67A.jpg,"[28, 12, 878]",505642,en,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, Mâ€™Baku, Okoye and the Do...",1035.42,/sv1xJUazXeYqALzczSZ3O6nkH75.jpg,2022-11-09,Black Panther: Wakanda Forever,False,7.30,4589,"[{'adult': False, 'gender': 1, 'id': 1083010, ...","[{'adult': False, 'gender': 1, 'id': 7232, 'kn..."
3,False,/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg,"[28, 12, 878, 14]",436270,en,Black Adam,"Nearly 5,000 years after he was bestowed with ...",985.27,/pFlaoHTZeyNkG83vxsAJiGzfSsa.jpg,2022-10-19,Black Adam,False,7.10,4734,"[{'adult': False, 'gender': 2, 'id': 18918, 'k...","[{'adult': False, 'gender': 2, 'id': 3687, 'kn..."
4,False,/70aVSo3fuZ94jyQ3rT64afEf8lV.jpg,"[16, 12, 35, 10751, 14]",676710,en,The Amazing Maurice,Maurice is a streetwise ginger cat who comes u...,871.39,/ydhZeUjbzVEFclUpMhLfDZSavUY.jpg,2022-12-16,The Amazing Maurice,False,6.90,48,"[{'adult': False, 'gender': 2, 'id': 41419, 'k...","[{'adult': False, 'gender': 2, 'id': 1706, 'kn..."

In [13]:
my_movies_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9249 entries, 0 to 9248
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              9249 non-null   bool
 1   backdrop_path      3696 non-null   object
 2   genre_ids          9249 non-null   object
 3   id                 9249 non-null   int64
 4   original_language  9249 non-null   object
 5   original_title     9249 non-null   object
 6   overview           9249 non-null   object
 7   popularity         9249 non-null   float64
 8   poster_path        7725 non-null   object
 9   release_date       9249 non-null   object
 10  title              9249 non-null   object
 11  video              9249 non-null   bool
 12  vote_average       9249 non-null   float64
 13  vote_count         9249 non-null   int64
 14  cast               9249 non-null   object
 15  crew               9249 non-null   object
dtypes: bool(2), float64(2), int64(2), object(10)
memory usage: 1.1+ MB

__By using concat I finally connected all data__

In [14]:
#these are connected 4 piece of data into 2:
my_movies_first = pd.read_json("my_movies_first.json")
my_movies_second = pd.read_json("my_movies_second.json")

In [15]:
movies_2022 = pd.concat([my_movies_first, my_movies_second])

In [16]:
movies_2022.reset_index(drop=True, inplace=True)

In [17]:
movies_2022.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,cast,crew
0,False,/ifUfE79O1raUwbaQRIB7XnFz5ZC.jpg,"[27, 9648, 53]",646385,en,Scream,Twenty-five years after a streak of brutal mur...,302.29,/1m3W6cpgwuIyjtg5nSnPx7yFkXW.jpg,2022-01-12,Scream,False,6.70,2309,"[{'adult': False, 'gender': 1, 'id': 1373659, ...","[{'adult': False, 'gender': 1, 'id': 409, 'kno..."
1,False,/fOy2Jurz9k6RnJnMUMRDAgBwru2.jpg,"[16, 10751, 35, 14]",508947,en,Turning Red,Thirteen-year-old Mei is experiencing the awkw...,324.93,/qsdjk9oAKSQMWs0Vt5Pyfh6O4GZ.jpg,2022-03-10,Turning Red,False,7.50,4086,"[{'adult': False, 'gender': 1, 'id': 3156344, ...","[{'adult': False, 'gender': 2, 'id': 7763, 'kn..."
2,False,/b1L7qevxiVpkVFq4dmdQPGFPWH0.jpg,[27],836225,en,The Exorcism of God,An American priest working in Mexico is consid...,277.00,/9X9wKbF0ED1AQpgIkvq0MG4Y4wi.jpg,2022-03-11,The Exorcism of God,False,7.20,810,"[{'adult': False, 'gender': 2, 'id': 58942, 'k...","[{'adult': False, 'gender': 2, 'id': 61055, 'k..."
3,False,/b0PlSFdDwbyK0cf5RxwDpaOJQvQ.jpg,"[80, 9648, 53]",414906,en,The Batman,"In his second year of fighting crime, Batman u...",241.41,/74xTEgt7R36Fpooo50r9T25onhq.jpg,2022-03-01,The Batman,False,7.70,7802,"[{'adult': False, 'gender': 2, 'id': 11288, 'k...","[{'adult': False, 'gender': 2, 'id': 2122, 'kn..."
4,False,/etP5jwlwvkNhwe7jnI2AyA6ZKrR.jpg,"[878, 27]",575322,en,Ð—Ð²Ñ‘Ð·Ð´Ð½Ñ‹Ð¹ Ñ€Ð°Ð·ÑƒÐ¼,After depleting Earth's resources for centurie...,254.71,/eX6tDFp4RhhjZaa1HUDUzFGPWYk.jpg,2022-01-06,Project Gemini,False,5.80,313,"[{'adult': False, 'gender': 2, 'id': 1280426, ...","[{'adult': False, 'gender': 0, 'id': 1790720, ..."

In [18]:
movies_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31194 entries, 0 to 31193
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              31194 non-null  bool
 1   backdrop_path      12518 non-null  object
 2   genre_ids          31194 non-null  object
 3   id                 31194 non-null  int64
 4   original_language  31194 non-null  object
 5   original_title     31194 non-null  object
 6   overview           31194 non-null  object
 7   popularity         31194 non-null  float64
 8   poster_path        26643 non-null  object
 9   release_date       31194 non-null  object
 10  title              31194 non-null  object
 11  video              31194 non-null  bool
 12  vote_average       31194 non-null  float64
 13  vote_count         31194 non-null  int64
 14  cast               31194 non-null  object
 15  crew               31194 non-null  object
dtypes: bool(2), float64(2), int64(2), object(10)
memory usage: 3.4+ MB

__I also want to have genders by name, budget and revenue columns in the data. For this I used the same method with credits and retrieved movie data by movie ids. Again I did this in several attemps for I was getting thousands of movie data.__

*Note that you can't run this part of the code as it requires api_key. The code here is to show how I achived to collect data. But you can get an api_key and try the code on your notebook. Also I skipped this part because it takes long time to run the code (~30 mins for each part). I already had the data when I add the notes.

In [ ]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'

In [ ]:
api_key = "api_key=*******************"

In [19]:
#I repeated this part until I got all movies in movies_2022 dataset.
movie_id = movies_2022.iloc[0:5000, 3]
movie_id

0       646385
1       508947
2       836225
3       414906
4       575322
         ...
4995    959293
4996    959288
4997    959285
4998    959284
4999    959283
Name: id, Length: 5000, dtype: int64

In [20]:
movie_id = list(movie_id)

In [ ]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data)
df = pd.DataFrame(json_list)

In [ ]:
df

In [ ]:
df.to_json("movies_0_5.json", orient="records")

__*Then I used concat to connect all data__ (This part also only for display)

In [ ]:
md_1 = pd.read_json("movies_0_5.json")
md_2 = pd.read_json("movies_5_10.json")
md_3 = pd.read_json("movies_10_15.json")
#and so on...

In [ ]:
movie_details = pd.concat([md_1, md_2, md_3, md_4, md_5, md_6, md_7])

In [ ]:
movie_details.reset_index(drop=True, inplace=True)

In [ ]:
movie_details.to_json("movie_details.json", orient="records")

### Preparing the data to final merge:

In [21]:
md = pd.read_json("movie_details.json")
md

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/ifUfE79O1raUwbaQRIB7XnFz5ZC.jpg,"{'id': 2602, 'name': 'Scream Collection', 'pos...",24000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",https://www.paramountmovies.com/movies/scream,646385,tt11245972,en,Scream,Twenty-five years after a streak of brutal mur...,274.47,/1m3W6cpgwuIyjtg5nSnPx7yFkXW.jpg,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-01-12,140041405,114,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It's always someone you know.,Scream,False,6.74,2319
1,False,/fOy2Jurz9k6RnJnMUMRDAgBwru2.jpg,None,190000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",https://www.disneyplus.com/movies/turning-red/...,508947,tt8097030,en,Turning Red,Thirteen-year-old Mei is experiencing the awkw...,277.23,/qsdjk9oAKSQMWs0Vt5Pyfh6O4GZ.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-03-10,18879922,100,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,Growing up is a beast.,Turning Red,False,7.50,4098
2,False,/b1L7qevxiVpkVFq4dmdQPGFPWH0.jpg,None,1500000,"[{'id': 27, 'name': 'Horror'}]",,836225,tt10362566,en,The Exorcism of God,An American priest working in Mexico is consid...,228.26,/9X9wKbF0ED1AQpgIkvq0MG4Y4wi.jpg,"[{'id': 155347, 'logo_path': None, 'name': 'Ep...","[{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso...",2022-03-11,0,98,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,God and the Devil cannot exist in the same body.,The Exorcism of God,False,7.19,811
3,False,/b0PlSFdDwbyK0cf5RxwDpaOJQvQ.jpg,"{'id': 948485, 'name': 'The Batman Collection'...",185000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",https://www.thebatman.com,414906,tt1877830,en,The Batman,"In his second year of fighting crime, Batman u...",244.14,/74xTEgt7R36Fpooo50r9T25onhq.jpg,"[{'id': 101405, 'logo_path': None, 'name': '6t...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-03-01,770945583,177,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Unmask the truth.,The Batman,False,7.70,7826
4,False,/etP5jwlwvkNhwe7jnI2AyA6ZKrR.jpg,None,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",,575322,tt5656994,en,Ð—Ð²Ñ‘Ð·Ð´Ð½Ñ‹Ð¹ Ñ€Ð°Ð·ÑƒÐ¼,After depleting Earth's resources for centurie...,248.00,/eX6tDFp4RhhjZaa1HUDUzFGPWYk.jpg,"[{'id': 188974, 'logo_path': None, 'name': 'KD...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2022-01-06,0,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Love over space,Project Gemini,False,5.79,314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31026,False,None,None,0,"[{'id': 99, 'name': 'Documentary'}]",https://www.youtube.com/watch?v=4j55ND-DdQ4,1115838,None,en,The Pursuit of a Cinematic Dream - Tsai Ming-L...,"A leading figure of the ""Second New Wave"" of T...",0.00,None,"[{'id': 198282, 'logo_path': None, 'name': 'Ta...","[{'iso_3166_1': 'TW', 'name': 'Taiwan'}]",2022-11-11,0,15,[],Released,,The Pursuit of a Cinematic Dream - Tsai Ming-L...,False,0.00,0
31027,False,/6zw4r0WoslDvRtpTCMVzN2J8AtL.jpg,None,100,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",https://www.youtube.com/watch?v=_Bb0hag70G0&t=...,1115771,tt22688502,en,Tomb-Stoned,"Two stoner best friends, Owen and Norm, are ab...",0.00,/tyx86rdavOuoVEp6jHos6rR9wUm.jpg,"[{'id': 14621, 'logo_path': None, 'name': 'Sol...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-10-05,0,38,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,the zombie stoner comedy,Tomb-Stoned,False,10.00,1
31028,False,None,None,5000,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",http://www.roguechimerafilms.com/p/trail-of-do...,1115761,None,en,Trail of Doom,Documented by a young woman hired to take behi...,0.00,/r5pDirTBtFUWO2y8ogHP0225xz9.jpg,"[{'id': 198273, 'logo_path': None, 'name': 'Ro...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-12-04,0,0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The production of a movie was documented on vi...,Trail of Doom,False,0.00,0
31029,False,/Gcdd8tyDw0UEGOeTbsuGyUPIGS.jpg,None,0,"[{'id': 18, 'name': 'Drama'}]",,1115705,None,tr,HayatÄ±mÄ±n Son 5 GÃ¼nÃ¼,The anonymous man wrote down all the events he...,0.00,/bUFhImwCKj6ZduWkoDnYJTS1UuN.jpg,"[{'id': 198263, 'logo_path': '/iVTsVaPvoq3zQZk...",[],2022-10-19,0,93,[],Released,,The Last 5 Days of My Life,False,0.00,0
31030,False,None,None,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",,1115602,tt15255448,en,Dangerous Ones,A New York City couple decide to take a getawa...,0.00,/wgqoh9mShaHi9hsJEntEumN5XSF.jpg,"[{'id': 139656, 'logo_path': None, 'name': 'Be...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-10-01,0,113,[],Released,They're Not Welcome Here,Dangerous Ones,False,0.00,0

In [22]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31031 entries, 0 to 31030
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  31031 non-null  bool
 1   backdrop_path          12447 non-null  object
 2   belongs_to_collection  528 non-null    object
 3   budget                 31031 non-null  int64
 4   genres                 31031 non-null  object
 5   homepage               31031 non-null  object
 6   id                     31031 non-null  int64
 7   imdb_id                13790 non-null  object
 8   original_language      31031 non-null  object
 9   original_title         31031 non-null  object
 10  overview               31031 non-null  object
 11  popularity             31031 non-null  float64
 12  poster_path            26503 non-null  object
 13  production_companies   31031 non-null  object
 14  production_countries   31031 non-null  object
 15  release_date           31031 non-null  object
 16  revenue                31031 non-null  int64
 17  runtime                31031 non-null  int64
 18  spoken_languages       31031 non-null  object
 19  status                 31031 non-null  object
 20  tagline                31031 non-null  object
 21  title                  31031 non-null  object
 22  video                  31031 non-null  bool
 23  vote_average           31031 non-null  float64
 24  vote_count             31031 non-null  int64
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 5.5+ MB

__There are common columns with the movie dataset and I don't need each columns in this detailed info data. So I will use slice method and save it to a new variable.__

In [23]:
#lets compare the two data:
movies_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31194 entries, 0 to 31193
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              31194 non-null  bool
 1   backdrop_path      12518 non-null  object
 2   genre_ids          31194 non-null  object
 3   id                 31194 non-null  int64
 4   original_language  31194 non-null  object
 5   original_title     31194 non-null  object
 6   overview           31194 non-null  object
 7   popularity         31194 non-null  float64
 8   poster_path        26643 non-null  object
 9   release_date       31194 non-null  object
 10  title              31194 non-null  object
 11  video              31194 non-null  bool
 12  vote_average       31194 non-null  float64
 13  vote_count         31194 non-null  int64
 14  cast               31194 non-null  object
 15  crew               31194 non-null  object
dtypes: bool(2), float64(2), int64(2), object(10)
memory usage: 3.4+ MB

In [24]:
m_details = md.loc[:, ["budget", "genres", "id", "production_companies", "production_countries", "revenue", "runtime", 
       "spoken_languages", "status"]]

In [25]:
m_details.head()

,budget,genres,id,production_companies,production_countries,revenue,runtime,spoken_languages,status
0,24000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",646385,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",140041405,114,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released
1,190000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",508947,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",18879922,100,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released
2,1500000,"[{'id': 27, 'name': 'Horror'}]",836225,"[{'id': 155347, 'logo_path': None, 'name': 'Ep...","[{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso...",0,98,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released
3,185000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",414906,"[{'id': 101405, 'logo_path': None, 'name': '6t...","[{'iso_3166_1': 'US', 'name': 'United States o...",770945583,177,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released
4,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",575322,"[{'id': 188974, 'logo_path': None, 'name': 'KD...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",0,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released

In [26]:
#It's time for final merge:
movies_detailed_22 = movies_2022.merge(m_details, how="left", left_on="id", right_on="id")

In [27]:
movies_detailed_22.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,cast,crew,budget,genres,production_companies,production_countries,revenue,runtime,spoken_languages,status
0,False,/ifUfE79O1raUwbaQRIB7XnFz5ZC.jpg,"[27, 9648, 53]",646385,en,Scream,Twenty-five years after a streak of brutal mur...,302.29,/1m3W6cpgwuIyjtg5nSnPx7yFkXW.jpg,2022-01-12,Scream,False,6.70,2309,"[{'adult': False, 'gender': 1, 'id': 1373659, ...","[{'adult': False, 'gender': 1, 'id': 409, 'kno...",24000000.00,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...","[{'iso_3166_1': 'US', 'name': 'United States o...",140041405.00,114.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released
1,False,/fOy2Jurz9k6RnJnMUMRDAgBwru2.jpg,"[16, 10751, 35, 14]",508947,en,Turning Red,Thirteen-year-old Mei is experiencing the awkw...,324.93,/qsdjk9oAKSQMWs0Vt5Pyfh6O4GZ.jpg,2022-03-10,Turning Red,False,7.50,4086,"[{'adult': False, 'gender': 1, 'id': 3156344, ...","[{'adult': False, 'gender': 2, 'id': 7763, 'kn...",190000000.00,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",18879922.00,100.00,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released
2,False,/b1L7qevxiVpkVFq4dmdQPGFPWH0.jpg,[27],836225,en,The Exorcism of God,An American priest working in Mexico is consid...,277.00,/9X9wKbF0ED1AQpgIkvq0MG4Y4wi.jpg,2022-03-11,The Exorcism of God,False,7.20,810,"[{'adult': False, 'gender': 2, 'id': 58942, 'k...","[{'adult': False, 'gender': 2, 'id': 61055, 'k...",1500000.00,"[{'id': 27, 'name': 'Horror'}]","[{'id': 155347, 'logo_path': None, 'name': 'Ep...","[{'iso_3166_1': 'MX', 'name': 'Mexico'}, {'iso...",0.00,98.00,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released
3,False,/b0PlSFdDwbyK0cf5RxwDpaOJQvQ.jpg,"[80, 9648, 53]",414906,en,The Batman,"In his second year of fighting crime, Batman u...",241.41,/74xTEgt7R36Fpooo50r9T25onhq.jpg,2022-03-01,The Batman,False,7.70,7802,"[{'adult': False, 'gender': 2, 'id': 11288, 'k...","[{'adult': False, 'gender': 2, 'id': 2122, 'kn...",185000000.00,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...","[{'id': 101405, 'logo_path': None, 'name': '6t...","[{'iso_3166_1': 'US', 'name': 'United States o...",770945583.00,177.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released
4,False,/etP5jwlwvkNhwe7jnI2AyA6ZKrR.jpg,"[878, 27]",575322,en,Ð—Ð²Ñ‘Ð·Ð´Ð½Ñ‹Ð¹ Ñ€Ð°Ð·ÑƒÐ¼,After depleting Earth's resources for centurie...,254.71,/eX6tDFp4RhhjZaa1HUDUzFGPWYk.jpg,2022-01-06,Project Gemini,False,5.80,313,"[{'adult': False, 'gender': 2, 'id': 1280426, ...","[{'adult': False, 'gender': 0, 'id': 1790720, ...",0.00,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","[{'id': 188974, 'logo_path': None, 'name': 'KD...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",0.00,98.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released

In [28]:
movies_detailed_22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31194 entries, 0 to 31193
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 31194 non-null  bool
 1   backdrop_path         12518 non-null  object
 2   genre_ids             31194 non-null  object
 3   id                    31194 non-null  int64
 4   original_language     31194 non-null  object
 5   original_title        31194 non-null  object
 6   overview              31194 non-null  object
 7   popularity            31194 non-null  float64
 8   poster_path           26643 non-null  object
 9   release_date          31194 non-null  object
 10  title                 31194 non-null  object
 11  video                 31194 non-null  bool
 12  vote_average          31194 non-null  float64
 13  vote_count            31194 non-null  int64
 14  cast                  31194 non-null  object
 15  crew                  31194 non-null  object
 16  budget                31188 non-null  float64
 17  genres                31188 non-null  object
 18  production_companies  31188 non-null  object
 19  production_countries  31188 non-null  object
 20  revenue               31188 non-null  float64
 21  runtime               31188 non-null  float64
 22  spoken_languages      31188 non-null  object
 23  status                31188 non-null  object
dtypes: bool(2), float64(5), int64(2), object(15)
memory usage: 5.5+ MB

In [29]:
#saving data for cleaning process
movies_detailed_22.to_json("movies_22.json", orient="records")